3rdlibrary
01_data/dataset
*.DS_Store
02_prelabel/labeled_data
__pycache__
logs
02_prelabel/ps_proj/qwen2_5_7B_prelabel/outputs
02_prelabel/ps_proj/qwen2_5_7B_prelabel/model_dir
sam3_1
02_prelabel/ps_proj/prelabel_work
03_training/runs
04_pruning/experiments
04_pruning/sensitivity_full/*.pt
04_pruning/sensitivity_full/joint_finetuned/*.pt
*.log
04_pruning/final/*.pt
*.onnx
